<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css">
  </head>
  <body> 
    <h1>DeliverRCs </h1>
    <div class="columns">
      <div class="column"> 
        <div class="box">1</div>
      </div>
      <div class="column"> 
        <div class="box">2 </div>
      </div>
      <div class="column"> 
        <div class="box">3</div>
      </div>
    </div>
  </body>
</html>